@charset 'UTF-8';
@import '../../foundation/define';

// ==========================================================================
// Object--Component
//
// 再利用できる、小さな単位のモジュール定義。
// 接頭辞は[c-]
// ==========================================================================

.c-btn {
  box-sizing: border-box;
  width: 100%;
  height:auto;
  line-height: 1;
  text-align: center;
  font-weight: bold;
  border-radius: 40px;
  font-size:22px;
  display: block;
  padding:22px 0 20px;
  background: $theme-color;
  color:#fff;
  position: relative;

  &:visited {
    color:#fff;
  }

  &.s-inverse {
    background: $theme-weak-color;
    color:$theme-color;
    &:visited {
      color:$theme-color;
    }
    &:hover {
      color:$theme-color;
    }
  }

  &.s-arrow {
    &:after {
      position: absolute;
      content:"";
      display: block;
      width:24px;
      height:24px;
      background: transparent url("../img/ico_arrow_r.svg") no-repeat scroll center center;
      background-size: cover;
      right:25px;
      top:calc(50% - 12px);
      transition: right .2s ease-out;
    }
    &.s-inverse {
      &:after {
        background: transparent url("../img/ico_arrow_ri.svg") no-repeat scroll center center;
      }
    }
    &:hover {
      &:after {
        right:15px;
      }
    }
  }

  &--big {
    width:220px;
    padding: 16px 0;
  }
  
  &:hover {
   opacity: .85;
    color:#fff;
  }
  &:visited {
    color:#fff;
  }
}
