@charset "utf-8";
@import "../../foundation/define";

.p-footer {
    background: #bf9a00;
    background: -moz-linear-gradient(left, #bf9a00 0%, #ffdf15 44%, #947800 71%, #fad913 100%);
    background: -webkit-linear-gradient(left, #bf9a00 0%, #ffdf15 44%, #947800 71%, #fad913 100%);
    background: linear-gradient(to right, #bf9a00 0%, #ffdf15 44%, #947800 71%, #fad913 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#bf9a00', endColorstr='#fad913', GradientType=1);
    padding: 3px 0 0;

    &__inner {
        margin:0;
        background: #fff;
        padding: 22px;
        font-style: normal;
        line-height: 1.6;
        color:#444;

        &__company {
            font-weight: bold;
        }
    }
}