@charset 'utf-8';


// ==========================================================================
//https://github.com/hiloki/flocss
//http://qiita.com/manabuyasuda/items/5d83a5516051cc58a274
// ==========================================================================

// ==========================================================================
// Foundation
// ==========================================================================
@import 'foundation/define';
@import 'foundation/mixin';
@import 'foundation/normalize';
@import 'foundation/base';

// ==========================================================================
// Layout
// ==========================================================================

@import 'layout/layout';

// =========================================================================
// Object
// ==========================================================================

// -----------------------------------------------------------------
// Component
// -----------------------------------------------------------------
@import 'object/component/button';
@import 'object/component/headline';

.c-pagetop {
    position: fixed;
    bottom:16px;
    right:20px;
    width: 66px;
    height: 66px;
    box-sizing: border-box;
    padding: 30px 0 0;
    line-height: 1.1;
    font-size:11px;
    border-radius: 50px;
    text-align: center;
    background: rgba(255,255,255,0.85);
    box-shadow: 0 3px 8px rgba(0,0,0,0.1);

    a {
        color:#4a5e68;
        font-weight: normal;
        text-decoration: none;
        font-size:11px;

        &:after {
            content: "";
            display: block;
            position: absolute;
            top:14px;
            left:27px;
            right:0;
            width: 0;
            height: 0;
            border-style: solid;
            border-width: 0 6px 8px 6px;
            border-color: transparent transparent #4a5e68 transparent;
        }

        &:hover {
            color:$base-link-color;
            &:after {
                border-color: transparent transparent $base-link-color transparent;
            }
        }

        &:before {
            position: absolute;
            top:0;
            right: 0;
            bottom: 0;
            left: 0;
            content:"";
            display: block;
        }
    }
}

// -----------------------------------------------------------------
// Module
// -----------------------------------------------------------------

.m-header {
    position: absolute;
    z-index: 100;
    padding: 3% 5%;
    box-sizing: border-box;
    &.is-fixed {
        position: fixed;
    }

    &__inner {
        display: flex;
        align-items: center;
        margin:0 auto;
        padding:0;
    }

    &__logo {
        line-height: 1;
        padding: 0;
        margin: 0;
        max-width: 240px;
        width:100%;

        img {
            width: 100%;
            height: auto;
        }
    }

    &__cta {
        margin:0 0 0 auto;
        width: 240px;
        position: relative;
        text-align: right;
    }
}


.m-footer {
    background: #fff;
    padding: 30px 4% 15px;
    border-top:1px solid $base-border-color;

    &__inner {
        background: #fff;
        display: flex;
    }
    &-group {
        margin: 0 0 40px;
    }
    &-nav {
        padding: 0;
        margin: 0 0 15px;
        list-style: none;
        &__item {
            display: inline-block;
            padding:2px 3px;
            &:after {
                content:"／";
                color:#ddd;
                padding: 0 0 0 10px;
            }
            &:last-of-type:after {
                display: none;
            }
        }
    }
    &-subnav {
        margin: 0 0 5px;
        &__link {
            display: inline-block;
            padding: 2px 18px 2px 2px;
            position: relative;
            &:after {
                position: absolute;
                content:"";
                display: block;
                width:16px;
                height:16px;
                background: transparent url("../img/ico_external_link.svg") no-repeat scroll center center;
                background-size: cover;
                right:0px;
                top:calc(50% - 8px);
            }
        }
    }


    .sns {
        margin:0 0 0 auto;
        list-style: none;
        display: flex;
        &__item {
            width: 50px;
            height:50px;
            margin:0 8px;
            a {
                box-sizing: border-box;
                width: 50px;
                height:50px;
                border-radius: 50px;
                text-align: center;
                line-height: 50px;
                background: #eee;
                display: flex;
                align-items: center;
                justify-content: center;
            }
        }
    }


    .copyright {
        padding: 0;
        color:#cecece;
        font-size:11px;
        text-align: center;
        display: block;
    }
 
}



.m-cta {
    width: 100%;
    padding:40px 0;
    background: #557cff;
    background: -moz-linear-gradient(45deg, #557cff 0%, #00d4d1 99%);
    background: -webkit-linear-gradient(45deg, #557cff 0%,#00d4d1 99%);
    background: linear-gradient(45deg, #557cff 0%,#00d4d1 99%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#557cff', endColorstr='#00d4d1',GradientType=1 );

    &__ttl {
        text-align: center;
        color:#fff;
        font-size:26px;
        margin: 0 0 40px;
    }

    &__inner {
        width: 1000px;
        margin: 0 auto;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    &__tel {
        color:#fff;
        margin:0 40px 0 0;
        &__num {
            font-size:40px;
            line-height: 1;
            margin:0 0 8px;
            font-family: Arial,serif;
        }
        &__notes {
            font-weight: normal;
            font-size:16px;
        }
    }
    &__web {
        margin:0 0 10px;
        &__btn {
            a {
                display: block;
                background: #fff;
                width:400px;
                box-sizing: border-box;
                padding: 20px 0;
                border-radius: 40px;
                text-align: center;
                font-size:24px;
                font-weight: bold;
                transition: all .2s ease-in;
                &:hover {
                    background: #eaf4f9;
                }
            }
        }

    }
}


// -----------------------------------------------------------------
// Utility
// -----------------------------------------------------------------
@import 'object/utility/margin';
@import 'object/utility/border';
@import 'object/utility/clearfix';
@import 'object/utility/display';
@import 'object/utility/float';
@import 'object/utility/line-clamp';
@import 'object/utility/link';
@import 'object/utility/misc';
@import 'object/utility/position';
@import 'object/utility/text-align';
@import 'object/utility/text-decoration';
@import 'object/utility/text-truncate';
@import 'object/utility/vertical-align';
@import 'object/utility/width';


