@charset "utf-8";
@import "../../foundation/define";

.p-title {
    background: transparent url(../img/bkg_main01.jpg) no-repeat scroll center center;
    background-size:cover;
    height: 280px;
    color:#fff;
    margin:0;
    padding:0;
    display: flex;
    align-items: center;
    justify-content: center;
    margin:0 0 80px;

    &__hdl {
        margin: 0;
        padding: 0;
    }
}
