/* text-decoration - utility
--------------------------------------------------------- */

.u-fw-n {
    font-weight: normal !important;
}

.u-fw-b {
    font-weight: bold !important;
}

.u-td-u {
    text-decoration: underline !important;
}
.u-td-n {
    text-decoration: none !important;
}

.u-c-main {
    //color: $base-color !important;
}

.u-c-main-dark {
    //color: $main-dark-color !important;
}
.u-c-warning {
    //color: $warning-color !important;
}

