@charset 'UTF-8';
@import '../../foundation/define';

// ==========================================================================
// Object--Component
//
// 再利用できる、小さな単位のモジュール定義。
// 接頭辞は[c-]
// ==========================================================================


.c-hdl {
    font-family: $base-mincho-font;
    text-align: center;
    font-size:26px;
    font-weight: normal;
    letter-spacing: 0.05em;
    line-height: 1;
    color:$accent-color;
    padding:0 0 30px;
    margin:0 0 40px;
    position: relative;

    &:after {
        content:"";
        position: absolute;
        display: block;
        height: 2px;
        width: 200px;
        bottom:0;
        left:calc(50% - 100px);
        background: #ffffff;
        background: -moz-linear-gradient(left, #ffffff 0%, #ffdf15 15%, #bf9a00 50%, #ffdf15 85%, #ffffff 100%);
        background: -webkit-linear-gradient(left, #ffffff 0%,#ffdf15 15%,#bf9a00 50%,#ffdf15 85%,#ffffff 100%);
        background: linear-gradient(to right, #ffffff 0%,#ffdf15 15%,#bf9a00 50%,#ffdf15 85%,#ffffff 100%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ffffff',GradientType=1 );
    }
}


.c-hdl-secondary {
    font-size:32px;
    position: relative;
    margin: 0;
    &:after {
        content:"";
        width:100px;
        height:2px;
        position: absolute;
        bottom:-10px;
        left:0;
        background: #557cff;
        background: -moz-linear-gradient(45deg, #557cff 0%, #00d4d1 50%, #f9f9f9 100%);
        background: -webkit-linear-gradient(45deg, #557cff 0%,#00d4d1 50%,#f9f9f9 100%);
        background: linear-gradient(45deg, #557cff 0%,#00d4d1 50%,#f9f9f9 100%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#557cff', endColorstr='#f9f9f9',GradientType=1 );
    }

    span {
        position: absolute;
        font-size:130px;
        color:#dae3ea;
        font-family: Helvetica,serif;
        left:-20%;
        top:calc(50% - 130px);
        z-index: -1;
    }
}

.c-hdl-teritary {
    font-size: 26px;
}