@charset 'UTF-8';
@import './foundation/define';

// ==========================================================================
// Layout
//
// プロジェクト共通のコンテナーブロックのスタイル定義
// ==========================================================================

.l-header {
    width: 100%;
    top: 0;
}

.l-footer {
    width: 100%;
}

.l-container {
    width: 100%;
    height: auto;
    padding:55px 0 0;
    min-width: 950px;
    margin:0 auto;
}